
@font-face {
  font-family: BogleRegular;
  src: url('Assets/bogle_font/OTF/Bogle-Regular.otf');
}
@font-face {
  font-family: BogleBold;
  src: url('Assets/bogle_font/OTF/Bogle-Bold.otf');
}

body {
  font-family: BogleRegular;
}

.grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
}

.grid-item {
  font-size: 50px;
  font-family: BogleRegular;
}

.productInfo {
  display: grid;
  grid-column: 1fr 1fr 1fr 1fr;
  grid-template-rows: auto;
  grid-template-areas:
    "Title"
    "Info"
    "Blank"
    "Price"
    "MoreBlank"
    "Availablility";
}

.productDescriptionTitle {
  font-size: 22px;
  font-weight: bold;
  padding: 5px;
  color: black;
  font-family: BogleBold;

}

.productDescriptionMetrics {
  display: flex;
  font-size: 12px;

}

.stars {
  font-weight: 200;
}


.rating {
  color: gray;
}

.ratingAmount {
  text-decoration: underline;
}

.commentsAmount {
  text-decoration: underline;
}

.storeSerial {
  color: gray;

}

.price {
  display: flex;
  justify-content: flex-start;
  font-size: 22px;
  font-weight: bold;
  font-family: BogleBold;

}

.availability {
  font-size: 14px;
  color: red;
  font-weight: bold;
  font-family: BogleBold;
}