
@font-face {
  font-family: BogleRegular;
  src: url('Assets/bogle_font/OTF/Bogle-Regular.otf');
}

body {
  font-family: BogleRegular;
}

.grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.grid-item {
  font-size: 50px;
  font-family: BogleRegular;
}

.productDescriptionTitle {
  font-size: 22px;
  font-weight: bold;
  padding: 5px;
  color: black;
  /* font-family: BogleBlack; */
}

.productDescriptionMetrics {
  display: flex;
  font-size: 12px;
  /* justify-content: space-between; */
  /* justify-content: space-around; */
  /* justify-content: space-evenly; */
}

.stars{
  font-weight: 200;
}


.rating{
  color: gray;
}

.ratingAmount{
  text-decoration: underline;
}

.commentsAmount{
  text-decoration: underline;
}

.storeSerial{
  color: gray;

}